body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #00f;
}
a:link img,
a:visited img {
  border: 0;
}

/*xtsi*/
article.node {
    font-size: 13px;   
}

span.xtsipdf-header {
    font-size: 18px;
}
span.xtsipdf-footer {
    font-size: 11px;
    font-style: italic;
}

article.node .mwdiscuss-node-info,
article.node .mwdiscuss-state-info {
    margin-left: 24px;
}

article > header,
article.node .sxtmwc-action.sxtmwc-toggler,
article.node .sxtmwc-action-wrapper,
article.node .sxtmwc-actions-all,
article.node #toc {
    display: none;
}

article.node h2,
article.node h3,
article.node h4,
article.node h5,
article.node h6 {
    margin-bottom: 0;
}

article .field--type-sxt-mediawiki dt {
    font-weight: bold;
    margin-bottom: 0.1em;
}
article .field--type-sxt-mediawiki dd {
    margin: 0 0 0.1em 1.6em;
}

.sxt-mwcomments .sxt-mwcomment-item.level-2,
.sxt-mwcomments .sxt-mwcomment-item.level-3,
.sxt-mwcomments .sxt-mwcomment-item.level-4,
.sxt-mwcomments .sxt-mwcomment-item.level-5 {
    margin-left: 10px;
    padding-left: 6px;
    border-left: 1px solid silver;
}
.sxt-mwcomments .sxt-mwcomment-item h2,
.sxt-mwcomments .sxt-mwcomment-item h3,
.sxt-mwcomments .sxt-mwcomment-item h4,
.sxt-mwcomments .sxt-mwcomment-item h5,
.sxt-mwcomments .sxt-mwcomment-item h6 {
    margin-top: 6px;
    margin-left: -6px;
    padding-left: 6px;
    text-transform: none;
    letter-spacing: 0;
}

article .field--type-sxt-mediawiki h3, article .field--type-sxt-mediawiki h4,
article .field--type-sxt-mediawiki h5, article .field--type-sxt-mediawiki h6 {
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 0.3em;
    padding-bottom: 0;
    font-weight: bold;
}
article .field--type-sxt-mediawiki h4,
article .field--type-sxt-mediawiki h5, article .field--type-sxt-mediawiki h6 {
    font-size: 100%;
}
