{#
/**
 * @file
 * Default theme implementation for printer friendly version of entities.
 *
 * Available variables:
 * - title: Top level node title.
 * - base_url: URL to the home page.
 *
 * @see template_preprocess_printable()
 *
 * @ingroup themeable
 */
        <div>XXXXXXXXXXXX</div>
        {{ base_url }}/{{ module_path }}/css/xtsi-printable.css
        {% if include_css %}
            <link type="text/css" rel="stylesheet" href="/{{ include_css }}" />
        {% endif %}

        {{ header }}
        {{ content }}
        {{ footer }}
        <script type="text/php" src="{{ base_url }}/{{ module_path }}/inc/xtsidompdf.php"></script>
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
        <title>{{ title }}</title>
        <style>
            .node_view ul li{
                display:none;
            }
        </style>
        <link type="text/css" rel="stylesheet" href="{{ base_url }}/{{ module_path }}/css/xtsi-printable.css" />
    </head>
    <body>
        {{ header }}
        {{ content }}
        {{ footer }}
    </body>
</html>
